@*@model IEnumerable<BusinessObjects.Customer>*@

@{
    ViewData["Title"] = "Customers Page";
}

<h1>Customer Management</h1>
<hr />
@*Search*@
<div class="row">
    <div class="col-10">
        <input id="searchCustomerValue" class="me-2 col-6" type="text" placeholder="Search" name="searchCustomer" value="@ViewBag.SearchValue" />
        <button onclick="SearchCustomer()" value="Search" class="btn btn-dark btn-outline-light me-4">Search</button> |
        <a onclick="ShowAllCustomers()" class="ms-4">Back to full list</a>
    </div>
</div>

<br />
@*End search*@
<p class="row">
    <div>
        <button onclick="ResetCustomer()" class="btn btn-secondary">Refresh</button> | 
        <a asp-action="Create" class="btn btn-secondary">Create New</a> |
        <button onclick="ExpandCreateCustomer()" class="btn btn-secondary">Create New (AJAX)</button>
    </div>
</p>

<div id="customerCrud">
    <div id="ErrorMessage"></div>
</div>

<table class="table" id="customer-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Customer Name</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Birthday</th>
            <th>Status</th>
            <th>Common</th>
            <th>Ajax</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telephone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerBirthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerStatus)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                    </td>
                </tr>
            }*@
    </tbody>
</table>
