@model IEnumerable<BusinessObjects.RentingTransaction>

@{
    ViewData["Title"] = "Transaction History";
}

<h1>Transaction History</h1>

<hr />
@* Search *@
<div class="row">
    <form method="get" asp-controller="RentingTransactions" asp-action="Search" class="col-10">
        <span class="me-3">From date</span>
        <input class="me-3" value="@ViewBag.startDate" name="startDate" type="date" />
        <span class="me-3">To date</span>
        <input class="me-3" value="@ViewBag.endDate" name="endDate" type="date" />
        <input type="submit" value="Search" class="btn btn-dark btn-outline-light me-4" /> |
        <a asp-action="TransactionHistory" class="ms-4">Back to full list</a>
    </form>
</div>
<br />
@* End search *@

<p>
    <a asp-controller="Admin" asp-action="Renting" class="btn btn-secondary">Make New Transaction</a>
</p>
<table class="table" id="transaction-table">
    <thead>
        <tr>
            <th>
                Renting Date
            </th>
            <th>
                Customer
            </th>
            <th>
                Total Price
            </th>
            <th>
                Renting Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RentingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentingStatus)
                </td>
                <td>
                    <a asp-action="TransactionDetails" asp-route-transactionId="@item.RentingTransationId">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.RentingTransationId">| Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.RentingTransationId">| Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="display:none">
    <input id="token" name="token" value="@ViewData["token"]" />
</div>