@model BusinessObjects.CarInformation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Car Information</h4>
    <div class="text-danger">@ViewData["Message"]</div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfDoors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfDoors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeatingCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SeatingCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarRentingPricePerDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarRentingPricePerDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.ManufacturerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.SupplierName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CarId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
