@*@model IEnumerable<BusinessObjects.CarInformation>*@

@{
    ViewData["Title"] = "Car Management";
}

<h1>Car Management</h1>
<hr />
@*Search*@
<div class="row">
    <div class="col-10">
        <input id="searchCarValue" class="me-2 col-6" type="text" placeholder="Search" name="searchCar" value="@ViewBag.SearchValue" />
        <button onclick="SearchCar()" value="Search" class="btn btn-dark btn-outline-light me-4">Search</button> |
        <a onclick="ShowAllCars()" class="ms-4">Back to full list</a>
    </div>
</div>

<br />
@*End search*@

<p class="row">
    <div>
        <button onclick="ResetCar()" class="btn btn-secondary">Refresh</button> |
        <a asp-action="Create" class="btn btn-secondary">Create New</a> |
        <button onclick="ExpandCreateCar()" class="btn btn-secondary">Create New (AJAX)</button>
    </div>
</p>

<div id="carCrud">
    <div id="ErrorMessage"></div>    
</div>

<table class="table" id="car-table">
    <thead>
        <tr>
            <th>Car Name</th>
            <th>Description</th>
            <th>Doors</th>
            <th>Capacity</th>
            <th>Fuel Type</th>
            <th>Year</th>
            <th>Status</th>
            <th>Price Per Day</th>
            <th>Manufacturer</th>
            <th>Supplier</th>
            <th>Common</th>
            <th>Ajax</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfDoors)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatingCapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FuelType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarRentingPricePerDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CarId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CarId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CarId">Delete</a>
                </td>
            </tr>
        }*@
    </tbody>
</table>
