@{
    ViewData["Title"] = "Renting Page";
}
@model IEnumerable<BusinessObjects.CarInformation>

<h1 class="text-success"> Renting Car </h1>
<p class="text-secondary"> Renting from @ViewData["startdate"] to @ViewData["enddate"].</p>
<a asp-action="Renting" class="btn btn-secondary">Choose other date</a>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfDoors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatingCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarRentingPricePerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfDoors)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatingCapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FuelType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarRentingPricePerDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
                </td>
                <td>
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-carId="@item.CarId" 
                       asp-route-startDate="@ViewData["startdate"]"
                       asp-route-endDate="@ViewData["enddate"]"
                       class="btn btn-light btn-outline-success"> Choose </a>
                </td>
            </tr>
        }
    </tbody>
</table>